<br>
<h1 style="text-align: center;">TABELLA</h1>
<br>

<button (click)="next()" mat-raised-button>pagina successiva</button>
<label><button (click)="prev()" mat-raised-button>pagina precedente</button></label>

<button (click)="first()" mat-raised-button>prima pagina</button>
<label><button (click)="last()" mat-raised-button>ultima pagina</button></label>
<br>
<br>

id<input type="text" name="id" [(ngModel)]="currentElement.id">
nascita<input type="text" name="nascita" [(ngModel)]="currentElement.birthDate">
nome<input type="text" name="nome" [(ngModel)]="currentElement.firstName">
cognome<input type="text" name="cognome" [(ngModel)]="currentElement.lastName">
dataAss<input type="text" name="dataAss" [(ngModel)]="currentElement.hireDate">
dataAss<input type="text" name="gender" [(ngModel)]="currentElement.gender">

                <!--controlla nel bottone se l'id esiste cambia il bottone in edit , se non esiste in add-->
<button (click)="addFn()">{{currentElement.id ? 'edit' : 'add'}}</button>

<br>
<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> primoNome </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> ultimoNome </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> genere </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
    <ng-container matColumnDef="hireDate">
        <th mat-header-cell *matHeaderCellDef> dataAssunzione </th>
        <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
      </ng-container>
    
       <!-- Symbol Column -->
    <ng-container matColumnDef="cestino">
        <th mat-header-cell *matHeaderCellDef> cestino </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button (click)="deleteFn(element._links.self.href)" color="white" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
          </button> 
          <button mat-icon-button (click)="this.currentElement = element" color="white" aria-label="Example icon button with a home icon">
            <mat-icon>edit</mat-icon>
          </button> 
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>